<div class="container">
    <div class="row">
        <section>
            <div class="wizard" data-bind="if: gameNumber()!=0 && !displayLoader()">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" data-bind="css: { 'active': gameNumber()==1, disabled: gameNumber()!=1 }">
                            <a href="#" role="tab" title="Step 1">
                                <span class="round-tab">
                                    I
                                </span>
                            </a>
                        </li>
                        <li role="presentation" data-bind="css: { 'active': gameNumber()==2, disabled: gameNumber()!=2 }">
                            <a href="#" role="tab" title="Step 2">
                                <span class="round-tab">
                                    II
                                </span>
                            </a>
                        </li>
                        <li role="presentation" data-bind="css: { 'active': gameNumber()==3, disabled: gameNumber()!=3 }">
                            <a href="#" role="tab" title="Step 3">
                                <span class="round-tab">
                                    III
                                </span>
                            </a>
                        </li>

                        <li role="presentation" data-bind="css: { 'active': gameNumber()==4, disabled: gameNumber()!=4 }">
                            <a href="#" role="tab" title="Complete">
                                <span class="round-tab">
                                    IV
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <form role="form">
                    <div class="tab-content" style="background-color: transparent">
                        <!-- ko if: gameNumber() == 1 -->
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h3>Prva igra - izaberite jednu kartu</h3>
                            <div class="col-md-4 col-md-offset-4">
                                <figure data-bind="click: playCard11" class="figure" style="float:left">
                                    <img class="slikaCrvena figure-img img-fluid rounded" src="~/Images/redCard.png" />
                                    <figcaption class="figure-caption">Zadrži za sebe 5 poena.</figcaption>
                                </figure>
                                <figure data-bind="click: playCard12" class="figure" style="float:right">
                                    <img class="slikaCrna figure-img img-fluid rounded" src="~/Images/blackCard.png" />
                                    <figcaption class="figure-caption">Daj protivniku 10 poena.</figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: gameNumber() == 2 -->
                        <div class="tab-pane active" role="tabpanel" id="step2">
                            <h3>Druga igra - izaberite jednu kartu</h3>
                            <div class="col-md-4 col-md-offset-4">
                                <figure data-bind="click: playCard21" class="figure" style="float:left">
                                    <img class="slikaCrvena figure-img img-fluid rounded" src="~/Images/redCard.png" />
                                    <figcaption class="figure-caption">Zadrži za sebe 5 poena.</figcaption>
                                </figure>
                                <figure data-bind="click: playCard22" class="figure" style="float:right">
                                    <img class="slikaCrna figure-img img-fluid rounded" src="~/Images/blackCard.png" />
                                    <figcaption class="figure-caption">Daj protivniku 10 poena.</figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: gameNumber() == 3 -->
                        <div class="tab-pane active" role="tabpanel" id="step3">
                            <h3>Treća igra- izaberite jednu kartu</h3>
                            <div class="col-md-4 col-md-offset-4">
                                <figure data-bind="click: playCard31" class="figure" style="float:left">
                                    <img class="slikaCrvena figure-img img-fluid rounded" src="~/Images/redCard.png" />
                                    <figcaption class="figure-caption">Niko ne dobija poene.</figcaption>
                                </figure>
                                <figure data-bind="click: playCard32" class="figure" style="float:right">
                                    <img class="slikaCrna figure-img img-fluid rounded" src="~/Images/blackCard.png" />
                                    <figcaption class="figure-caption">Daj protivniku 10 poena.</figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: gameNumber() == 4 -->
                        <div class="tab-pane active" role="tabpanel" id="step4">
                            <h3>Četvrta igra- izaberite jednu kartu (ulog je ocena na ispitu)</h3>
                            <div class="col-md-4 col-md-offset-4">
                                <figure data-bind="click: playCard41" class="figure" style="float:left">
                                    <img class="slikaCrvena figure-img img-fluid rounded" src="~/Images/redCard.png" />
                                    <figcaption class="figure-caption">Zadrži za sebe 5 poena.</figcaption>
                                </figure>
                                <figure data-bind="click: playCard42" class="figure" style="float:right">
                                    <img class="slikaCrna figure-img img-fluid rounded" src="~/Images/blackCard.png" />
                                    <figcaption class="figure-caption">Daj protivniku 10 poena.</figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div data-bind="if: gameNumber()==0 || displayLoader()">
                <div class="loader centered"></div>
                <span class="centeredText" style="font-size: large;">Čekanje na protivnika...</span>
            </div>
        </section>
        
        <div>
            <h2 style="color:white">Rezultat</h2>
            <!-- ko if: gameNumber() == 5 -->
            <h2 style="color:white"><i class="glyphicon glyphicon-hand-right"></i> Pobednik je - <span data-bind="text: winner"></span>!!! <i class="glyphicon glyphicon-hand-left"></i></h2>
            <!-- /ko -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="levaDesnaBordura">Prva igra</th>
                        <th scope="col" class="levaDesnaBordura">Druga igra</th>
                        <th scope="col" class="levaDesnaBordura">Treća igra</th>
                        <th scope="col" class="levaDesnaBordura">Četvrta igra</th>
                        <th scope="col">Ukupno</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span data-bind="text: myFullName"></span></th>
                        <td class="rucnoCrtano"><span data-bind="text: myPoints1"></span></td>
                        <td class="rucnoCrtano"><span data-bind="text: myPoints2"></span></td>
                        <td class="rucnoCrtano"><span data-bind="text: myPoints3"></span></td>
                        <td class="rucnoCrtano"><span data-bind="text: myPoints4"></span></td>
                        <td class="levaBorduraBold"><span data-bind="text: myPoints1() + myPoints2() + myPoints3() + myPoints4()"></span></td>
                    </tr>
                    <tr>
                        <th scope="row"><span data-bind="text: opponentName"></span></th>
                        <td class="levaDesnaBordura"><span data-bind="text: opponentPoints1"></span></td>
                        <td class="levaDesnaBordura"><span data-bind="text: opponentPoints2"></span></td>
                        <td class="levaDesnaBordura"><span data-bind="text: opponentPoints3"></span></td>
                        <td class="levaDesnaBordura"><span data-bind="text: opponentPoints4"></span></td>
                        <td class="levaBorduraBold"><span data-bind="text: opponentPoints1() + opponentPoints2() + opponentPoints3() + opponentPoints4()"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button style="display:none" data-bind="click: checkForOpponent()"  ></button>

    </div>
</div>