/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

body {
    margin: 20px;
    font-family: "Arial", "Helventica", sans-serif;
}

label {
    width: 80px;
    display: inline-block;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .4em 1.1em .4em;
    color: #fef4e9;
    border: solid 1px #006fb9;
    background: #1276bb;
}

    button:hover {
        text-decoration: none;
        background: #282828;
        border: solid 1px #000;
    }

table {
    padding-top: 1em;
}

thead, tfoot {
    font-weight: 600;
}

th, td {
    padding: .1em .5em;
    text-align: left;
}

    td li, td ul {
        margin: 0;
        padding: 0;
    }

    td li {
        display: inline;
    }

        td li::after {
            content: ',';
        }

        td li:last-child::after {
            content: '';
        }
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}