body {
    margin: 20px;
    font-family: "Arial", "Helventica", sans-serif;
}

label {
    width: 80px;
    display: inline-block;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .4em 1.1em .4em;
    color: #fef4e9;
    border: solid 1px #006fb9;
    background: #1276bb;
}

    button:hover {
        text-decoration: none;
        background: #282828;
        border: solid 1px #000;
    }

table {
    padding-top: 1em;
}

thead, tfoot {
    font-weight: 600;
}

th, td {
    padding: .1em .5em;
    text-align: left;
}

    td li, td ul {
        margin: 0;
        padding: 0;
    }

    td li {
        display: inline;
    }

        td li::after {
            content: ',';
        }

        td li:last-child::after {
            content: '';
        }
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#loader:after {
    content: "Loading text";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.centered {
    position: fixed; /* or absolute */
    top: 48%;
    left: 46%;
}

.centeredText {
    position: fixed; /* or absolute */
    top: 68%;
    left: 44%;
}

#gradientBackground {
    height: 100%;
    width: 100%;
    background: purple; /* For browsers that do not support gradients */
    background: linear-gradient(to right, purple, white); /* Standard syntax (must be last) */
}

.wizard {
    margin: 5px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 10px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.slideTutorial {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rucnoCrtano {
    border: solid 2px white;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.levaDesnaBordura {
    border-left: solid 2px white;
    border-right: solid 2px white
}

.levaBorduraBold {
    border-left: solid 2px white;
    font-weight: bold;
}

.slikaCrvena {
    border: solid 2px red;
    background: white;
    height: 200px;
    width: 137.5px;
}

.slikaCrna {
    border: solid 2px black;
    background: white;
    height: 200px;
    width: 137.5px;
}